[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libgutenberg = ">=0.10.24"
ebookmaker = ">=0.13.7"
sqlalchemy = "<2.0,>=1.4.0"
pymarc = ">=5.2.3"
ebookconverter = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = 3.9
