[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
e1839a8 = {editable = true,path = "."}
setproctitle = "*"
psycopg2 = "*"
jaraco-functools = "*"
requests-oauthlib = "*"
rdflib = "*"
qrcode = "*"
libgutenberg = {extras = ["covers", "postgres"],version = "*"}
ebookmaker = "==0.6.2"

[requires]
python_version = "3.6"
